@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:host {
  background-color: #3c3f41;
  color: #5accee;
  display: block;
  height: 48px;
  padding: 0 16px;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  line-height: 48px;
}

button {
  background-color: #3c3f41;
  color: #ffffff;
}
