<md-sidenav-container>
  <md-sidenav #start (open)="closeStartButton.focus()">
    <ul>
      <li>
        <button md-button #closeStartButton (click)="start.close()">Map</button>
      </li>
      <li>
        <button md-button #closeStartButton (click)="start.close()">Table</button>
      </li>
      <li>
        <button md-button #closeStartButton (click)="start.close()">Workers</button>
      </li>
    </ul>
  </md-sidenav>
  <div class="content-container">
    <sd-toolbar></sd-toolbar>
    <sd-navbar></sd-navbar>
    <router-outlet></router-outlet>
    <button md-button (click)="start.open()">Open start sidenav</button>
  </div>
</md-sidenav-container>
