<md-sidenav-container>
  <md-sidenav #start (open)="closeStartButton.focus()">
    <md-list>
      <md-list-item>
        <button md-button #closeStartButton (click)="start.close()">Map</button>
      </md-list-item>
      <md-list-item>
        <button md-button #closeStartButton (click)="start.close()">Table</button>
      </md-list-item>
      <md-list-item>
        <button md-button #closeStartButton (click)="start.close()">Workers</button>
      </md-list-item>
      <md-list-item>
        <button md-button #closeStartButton (click)="start.close()">Contact Us</button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div class="content-container">
    <sd-toolbar></sd-toolbar>
    <sd-navbar></sd-navbar>
    <router-outlet></router-outlet>
    <button md-button (click)="start.open()">Open start sidenav</button>
  </div>
</md-sidenav-container>
